#_environment-bar {
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 9999;
    box-shadow: 0 0 7px 1px black;
    color: white;
    background-color: red;
    text-shadow: 0 0 2px black;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
    display: none;
    transform: rotate(90deg) translate(100%, 0);
    transform-origin: 100% 0;
}

#_environment-bar-content {
    display: inline-block;
    padding: 3px 3px 5px 3px;
}

#_environment-bar-movetop {
    display: inline-block;
    padding: 3px 3px 5px 5px;
    cursor: pointer;
}

#_environment-bar-moveside {
    display: inline-block;
    padding: 3px 5px 5px 3px;
    cursor: pointer;
    display: none;
}
